<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if user.is_authenticated %}Hello, {{ user.username }}.

{% endif %}

<h1>Post:</h1>
    {% for foo in post %}
        <li>{{ foo.id }}: {{ foo.conten }} - chield: {{ foo.child}} </li>

        <li> {{ foo.id }}:</li>

    {% endfor %}

<h1>Comentlist!</h1>
{% for comlss in comls %}
    <li>{{ comlss.comtopost_id }}: {{ comlss.comtopost }} </li>
     Parent:{{ comlss.parent }}

{% endfor %}

<h1>Coment!</h1>
    <ul>
        {% for comment in comments %}
            <li> <strong>comments:</strong> {{ comment.comtopost_id }} + {{ comment.comtopost }} + chield: {{ comment.id}}</li>
            <li> <strong>comments:</strong> {{ comment.comtopost_id }} + {{ comment.comtopost }} + chield: {{ comment.id}}</li>
        {% endfor %}
    </ul>

<h1>
    {% for comment in comments %}
        <li> {{ comment.comtopost_id }} + {{ comment.comtopost }} + chield: {{ comment.id}}</li>
    {% endfor %}
</h1>

</body>
</html>