{% load mptt_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1>Post:</h1>
    {% for foo in post %}
        <li>{{ foo.id }}: {{ foo.conten }} - chield: {{ foo.child}} </li>
        <br>

    {% endfor %}


<div>
    <ul>---</ul>
</div>
{% for contact in contacts %}
    {# Each "contact" is a Contact model object.     {{ contact.textcom|upper }}<br />#}
|_____{{ contact.textcomment }}, Autor:{{ contact.autor }}, Like: {{ contact.likecom }} <br />
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">načítať previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">načítať ďalšie</a>
        {% endif %}
    </span>
</div>
<div>
    <ul>---</ul>
</div>

<h1>Comentlist! All comments: {{ allcom.count }} </h1>
{% for comlss in comls %}
    <li>  {{ comlss.textcom }} := {{ comlss.textcomment }}, Autor: {{ comlss.autor }}, Like: {{ comlss.likecom }} </li>
     Parent:{{ comlss.parent }} ____|
{% endfor %}

</body>
</html>