<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1>Post:</h1>
    {% for foo in post %}
        <h1>{{ foo.title }}</h1>
        <li>{{ foo.id }}: {{ foo.conten }} </li>
        <br>

    {% endfor %}

<h1>Comentlist! All comments: {{ allcom.count }} </h1>
{% for comlss in comls %}
    <li>  {{ comlss.textcom }} := {{ comlss.textcomment }}, Autor: {{ comlss.autor }}, Like: {{ comlss.likecom }} </li>
     Parent:{{ comlss.parent }} ____|

{% endfor %}

<h1>Coments:</h1>
{% for comlss in allcom %}
    <li>{{ comlss.comtopost_id }}: {{ comlss.comtopost }} {{ comlss.textcom }} {{ comlss.textcomment }}</li>
    <li> Parent:{{ comlss.parent }} </li>

{% endfor %}

<h1>Coment!</h1>
    <ul>
        {% for comment in comments %}
            <li> <strong>comments:</strong> {{ comment.comtopost_id }} + {{ comment.comtopost }} + chield: {{ comment.id}}</li>
        {% endfor %}
    </ul>

<h1>
    {% for comment in comments %}
        <li> {{ comment.comtopost_id }} + {{ comment.comtopost }} + chield: {{ comment.id}}</li>
    {% endfor %}
</h1>

</body>
</html>